@import '@/app/variable.module.scss';

.container {
  position: fixed;
  top: 0px;
  right: 0px;
  width: $decorationPannleWidh;
  background-color: var(--bulma-body-background-color);
  border-left: 1px solid var(--bulma-dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 12px;
  z-index: 1;
}

.operatorContainer {
  flex: 1;
}

.actionContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px 24px 24px;
}