@import '@/app/variable.module.scss';

.container {
  height: $minCalendarItemHeight;
  text-align: center;
  overflow-x: hidden;
  border-bottom: 1px solid var(--bulma-dark);
  cursor: grab;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  
  & > .embla__container {
    display: flex;
    & > .embla__slide {
      flex: 0 0 100%;
    }
  }
  
  @include onPC {
    width: $minCalendarItemWidth;
  }
}