@import '@/app/variable.scss';

.container {
  height: $minCalendarItemHeight;
  text-align: center;
  overflow-x: hidden;
  border-bottom: 1px solid var(--bulma-dark);
  
  & > .embla__container {
    display: flex;
    & > .embla__slide {
      flex: 0 0 100%;
    }
  }
  
  @include onPC {
    width: $minCalendarItemWidth;
  }
}