@import 'bulma/sass/utilities/derived-variables.scss';
@import 'bulma/sass/utilities/functions.scss';
@import '@/app/variable.scss';

.container {
    min-height: $minCalendarItemHeight;
    text-align: center;
    padding: $size-small;
    border-bottom: 1px solid var(--bulma-dark);
}