@import 'bulma/sass/utilities/mixins.sass';
@import '@/app/variable.scss';

.week {
    max-width: calc($minCalendarItemWidth * 2);
    margin: auto;
    border-right: 1px solid $dark;
    border-left: 1px solid $dark;
    border-top: 1px solid $dark;

    & .day.dayNotInCurrentMonth {
        display: none;
    }

    @media (prefers-color-scheme: dark) {
        border-right: 1px solid findColorInvert($dark);
        border-left: 1px solid findColorInvert($dark);
        border-top: 1px solid findColorInvert($dark);
    }

    @include from (calc($minCalendarItemWidth * 7)) {
        max-width: calc($minCalendarItemWidth * 8);
        margin: auto;
        flex-direction: row;
        display: flex;
        & .day:not(:last-child) {
            border-right: 1px solid $dark;
            @media (prefers-color-scheme: dark) {
                border-right: 1px solid findColorInvert($dark);
            }
        }
        & .day.dayNotInCurrentMonth {
            display: unset;
        }
    }

    @include mobile {
        max-width: 100%;
    }
}
