@import 'bulma/sass/utilities/mixins.scss';
@import '@/app/variable.scss';

.statusBarContainer {
  display: flex;
  flex-direction: row;

  & .tagContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
  
    & > * {
      margin-right: 6px;
    }
  }

  & .text {
    text-align: right;
  
    @include onTablet {
      font-weight: bold;
    }
  
    &.onPCHidden {
      @include onPCHidden;
    }
    
    &.onTabletHidden {
      @include onTabletHidden;
    }
  }
}

