@import 'bulma/sass/utilities/mixins.scss';
@import '@/app/variable.scss';

.container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.month {
    flex: 1;
    background-image: url('https://succi-posts.s3.us-east-1.amazonaws.com/IMG_5190.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    @media (prefers-color-scheme: dark) {
        background-image: url('https://succi-posts.s3.us-east-1.amazonaws.com/IMG_5190.jpg')
    }
    
    @include onTablet {
        background-attachment: fixed;
    }
}

.decorationPanel {
    min-width: 400px;
}