@import 'bulma/sass/utilities/mixins.scss';
@import '@/app/variable.module.scss';

.container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.month {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    
    @include onTablet {
        background-attachment: fixed;
    }
}

.decorationPanel {
    min-width: 400px;
}

.withoutAccessContainer {
    text-align: center;
    margin-top: 20px;
    color: var(--bulma-danger-on-scheme);
}