@import 'bulma/sass/utilities/mixins.scss';

$minCalendarItemWidth: 180px;
$minCalendarItemHeight: 400px;
$decorationPannleWidh: 400px;
$headerHeight: 60px;
$headerDayHeight: 30px;

:export {
  minCalendarItemWidth: $minCalendarItemWidth;
}

.hidden {
  margin: unset;
  padding: unset;
  display: none;
}

@mixin onPCHidden {
  @include onPC {
    margin: unset;
    padding: unset;
    display: none;
  }
}

@mixin onTabletHidden {
  @include onTablet() {
    margin: unset;
    padding: unset;
    display: none;
  }
}

@mixin onMobile {
  @include mobile {
    @content;
  }
}

@mixin onPC {
  @include from (calc($minCalendarItemWidth * 7)) {
    @content;
  }
}

@mixin onTablet {
  @include until (calc($minCalendarItemWidth * 7)) {
    @content;
  }
}