@forward '../decoration.module.scss';
@forward '../activity-text/activity-text.module.scss';
@import '@/app/variable.module.scss';

.imageContainer {
  & > .deleteButton {
    position: absolute;
    right: 20px;
    margin-top: 8px;
  }
}