@forward '../decoration.module.scss';
@forward '../activity-text/activity-text.module.scss';
@import '@/app/variable.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 12px;

  & > div {
    font-size: 40px;
    font-weight: bold;
  }

  & > h1:first-child {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
  }
}