@forward '../decoration.module.scss';
@import 'bulma/sass/utilities/derived-variables.scss';
@import 'bulma/sass/utilities/functions.scss';
@import 'bulma/sass/utilities/mixins.scss';
@import '@/app/variable.scss';


.container {
  height: $minCalendarItemHeight;
  overflow: hidden;
  text-align: center;
  padding: 6px;
  border-bottom: 1px solid var(--bulma-dark);
  
  @include onPC {
    width: $minCalendarItemWidth;
  }
}