@import 'bulma/sass/utilities/derived-variables.sass';
@import 'bulma/sass/utilities/functions.sass';
@import '@/app/variable.scss';

.container {
    min-height: $minCalendarItemHeight;
    text-align: center;
    padding: $size-small;
    border-bottom: 1px solid $dark;
    @media (prefers-color-scheme: dark) {
        border-bottom: 1px solid findColorInvert($dark);
    }
}