@import 'bulma/sass/utilities/mixins.scss';
@import '@/app/variable.scss';

.week {
    max-width: calc($minCalendarItemWidth * 1.5);
    margin: auto;
    border-right: 1px solid var(--bulma-dark);
    border-left: 1px solid var(--bulma-dark);
    border-top: 1px solid var(--bulma-dark);

    & .day.dayNotInCurrentMonth {
        display: none;
        padding: unset;
        margin: unset;
    }
    
    @include onPC {
        max-width: calc($minCalendarItemWidth * 7 + 2px); // 2px for side border width because of box-sizing: border-box will shrink current box size;
        margin: auto;
        flex-direction: row;
        display: flex;
        & .day:not(:last-child) {
            max-width: $minCalendarItemWidth; // box-sizing: border-box; only works under fixed width
            border-right: 1px solid var(--bulma-dark);
        }
        & .day.dayNotInCurrentMonth {
            display: unset;
        }
    }

    @include mobile {
        max-width: 100%;
    }
}
