@import '@/app/variable.module.scss';

.statusBarContainer {
  display: flex;
  flex-direction: row;
  margin: 6px;
  position: relative;

  & .tagContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    font-weight: bold;
  
    & > *:not(:last-child) {
      margin-right: 6px;
    }
  }

  & .text {
    text-align: right;
    font-weight: bold;
  
    &.onPCHidden {
      @include onPCHidden;
    }
    
    &.onTabletHidden {
      @include onTabletHidden;
    }
  }
}

