@import '@/app/variable.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 12px;
  // height: $headerHeight;

  // position: fixed;
  // top: 0;
  // width: 100%;

  & > div {
    font-size: 40px;
    font-weight: bold;
  }
}